/frontend/node_modules
/frontend/build
/frontend/frontend.log

/backend/env
/backend/__pycache__
/backend/venv
/backend/logs
/backend/*.pyc
/backend/uploads
/backend/backend.log
/backend/frontend.log
/backend/static
/backend/app/api/__pycache__
/backend/app/models/__pycache__
/backend/app/schemas/__pycache__
/backend/app/services/__pycache__
/backend/app/utils/__pycache__
/backend/app/core/__pycache__
/backend/app/api/uploads
/backend/app/api/logs
/backend/app/main.log
/backend/app/api/routes/__pycache__